.Meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.Meme > img {
  width: 100%;
}

.Meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.Meme > .Bottom {
  bottom: 0;
}

.Meme > .Top {
  top: 0;
}

.MemeForm {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.MemeForm > input {
  width: 45%;
  height: 40px;
}

.MemeForm > button {
  border: none;
  font-family: VT323, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #6441a5;
}

.MemeForm > input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen;
}
.MemeForm > input::-moz-placeholder {
  /* Firefox 19+ */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen;
}
.MemeForm > input:-ms-input-placeholder {
  /* IE 10+ */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen;
}
.MemeForm > input:-moz-placeholder {
  /* Firefox 18- */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen;
}
